<section>
  <form action="/Login" method="post">
    <h1>Login</h1>
    <input type="email" name="email" placeholder="email" />
    <br />
    <input type="password" name="password" placeholder="password" /><br>
    <input type="submit" value="login" />
  </form>

  <style>
    body{
        display: flex;
        align-items: center;
        justify-content: center;

    }
  </style>
</section>